<div class="card">

  <button class="card__add-btn">+</button>
  <!-- Imagen fondo -->
  <div class="card__image">
    <img src="{{product().image}}" alt="{{product().name}}" class="bg-img">
  </div>

  <!-- Overlay info -->
  <div class="card__content">

    <h3 class="card__title">
      {{product().name }}
    </h3>

    <div class="card__extra">
      <p class="card__description">
        {{ product().description }}
      </p>

      <p class="card__price">
        {{ product().price }} €
      </p>
<!-- 
      <p class="card__price">
        {{ product().category }} 
      </p> -->


      <!-- <div class="card__allergens">
        @for (a of product().allergens; track $index) {
             @if(a === 'P'){
                <span
                    class="allergen-dot"
                    [style.background]="allergenColors[a.code()]"
                ></span>
            } 
          {{a}}
        }
      </div> -->


    </div>

  </div>

</div>