$negro: var(--negro);
$grisOscuro: var(--grisOscuro);
$acento: var(--acento);
$neutro: var(--neutro);
$grisClaro: var(--grisClaro);
$blanco: var(--blanco);

$bordRad: var(--borderRadius);
$borderPx: var(--borderPx);

.card {
  position: relative;
  height: 200px;
  width: 100%;
  max-width: 300px;
  border-radius: $bordRad;
  overflow: hidden;
  cursor: pointer;

  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

/* Imagen fondo */
.card__image {
  position: absolute;
  inset: 0;
  overflow: hidden;
  transition: transform 0.6s ease;
}

.bg-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Capa contenido */
.card__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;

  background: rgba(20, 20, 20, 0.65);
  backdrop-filter: blur(8px);

  color: $blanco;
  padding: 1.2rem;

  transform: translateY(calc(100% - 70px)); 
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

/* Nombre visible siempre */
.card__title {
  margin: 0;
  font-size: 1.3rem;
}

/* Parte oculta */
.card__extra {
  margin-top: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card__description {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  color: $grisClaro;
  display: -webkit-box;
  // -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__price {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.card:hover .card__content {
  transform: translateY(0);
}

.card:hover .card__extra {
  opacity: 1;
}

.card:hover .card__image {
  transform: scale(1.05);
}

//BOTON DE +
.card__add-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  width: 38px;
  height: 38px;

  border-radius: 50%;
  border: none;

  background: #d62828;
  color: white;

  font-size: 20px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  opacity: 0;
  transform: scale(0.8);

  transition: all 0.25s ease;
}

/* Mostrar en hover */
.card:hover .card__add-btn {
  opacity: 1;
  transform: scale(1);
}
.card__add-btn:hover {
  transform: scale(1.1);
  background: #b12632;
}