<page-hero title="Carta" image="../../../images/interiorCocinero.png" />

@if(loading()){
<div class="state state--loading">
    <div class="loader"></div>
    <!-- <img src="../../images/FoodPrepared.gif" alt="Cargando..." /> -->
    <p>Preparando platos...</p>
</div>

}@else if(error()){
<div class="state state--error">
    <p>🍣 No se pudieron cargar los platos</p>
    <span>Inténtalo de nuevo más tarde</span>
</div>
}@else {
<section class="filters">

    <!-- CATEGORÍAS -->
    <div class="filters__categories">
        @for (cat of categoriesWithAll(); track cat.id) {
        <button 
            class="filters__btn" 
            [class.active]="selectedCategory() === cat.id" 
            (click)="selectCategory(cat.id)"
        >
            {{ cat.name }}
        </button>
        }
    </div>

    <!-- BUSCADOR -->
    <div class="filters__search">
        <input type="text" placeholder="Buscar plato..." (input)="updateSearch($any($event.target).value)" />
    </div>

</section>

<!-- Si esta filtrando lo muestra sin la categoria -->
@if (!isFiltering()) {

  <!-- 🟢 MODO NORMAL (categorías) -->

    @for (cat of categoriesWithProducts(); track cat.id) {
      <div class="container">
        <h1>{{cat.name | titlecase}}</h1>
        <hr>
        <div class="menu__grid">
        @for (product of cat.products; track product.id) {
            <product-card [product]="product" />
        }
        </div>
    </div>
      
        <!-- <category-section 
            [title]="cat.name" 
            [products]="cat.products" 
        /> -->
    }

} @else {

  <!-- 🔴 MODO FILTRO (SIN categorías) -->
  <div class="container">
    <div class="menu__grid">
      @for (product of products(); track product.id) {
        <product-card [product]="product" />
      }
    </div>
  </div>

}


}