<page-hero
  title="Carta" 
  image="../../../images/interiorCocinero.png" 
/>

<section class="filters">

  <!-- CATEGORÍAS -->
  <div class="filters__categories">
    @for (cat of categories(); track cat.id) {
      <button
        class="filters__btn"
        [class.active]="selectedCategory() === cat.id"
        (click)="selectCategory(cat.id)"
      >
        {{ cat.name }}
      </button>
    }
  </div>

  <!-- BUSCADOR -->
  <div class="filters__search">
    <input
      type="text"
      placeholder="Buscar plato..."
      (input)="updateSearch($any($event.target).value)"
    />
  </div>

</section>

<div class="container">

  <div class="menu__grid">
    @for (product of products(); track product.id) {
      <category-section
        [products]="[product]"
        [title]="product.category.name"
      />
    }
  </div>

</div>