/* ============================= */
/* VARIABLES */
/* ============================= */


$header-height: 70px;
$negro: var(--negro);
$acento: var(--acento);
$blanco: var(--blanco);
$color-text: #fff;
$color-hover: #1d1d1d;

/* ============================= */
/* HEADER BASE */
/* ============================= */

.header {
    height: 60px;
    background: $negro;
    color: $color-text;
    border-bottom: solid 2px $blanco;

    // backdrop-filter: blur(10px);
    // background: rgba(0, 0, 0, 0.2);


    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 clamp(1rem, 4vw, 3rem);

    position: relative;
    z-index: 10;
    transition: background-color 0.3s ease;

    &.scrolled {
        background-color: rgba(255, 255, 255, 0.95);
    }

    &__left,
    &__center,
    &__right {
        display: flex;
        align-items: center;
    }

    &__center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* ============================= */
    /* LOGO */
    /* ============================= */

    // &__logo {
    //     font-size: clamp(1.2rem, 2vw, 1.8rem);
    //     font-weight: 600;
    //     letter-spacing: 1px;
    //     margin: 0;
    // }

    .logo-svg path {
        fill: $blanco;
    }
    .header__logo-img {
        color: $blanco;
    }


    /* ============================= */
    /* HAMBURGUESA */
    /* ============================= */

    &__hamburger {
        width: 32px;
        height: 22px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: none;
        border: none;
        cursor: pointer;

        span {
            display: block;
            height: 3px;
            width: 100%;
            background: $color-text;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        &:hover span {
            background: $acento;
        }
    }

    /* ============================= */
    /* BOTONES ICONO */
    /* ============================= */

    &__icon-btn {
        position: relative;
        background: none;
        border: none;
        color: $color-text;
        font-size: 1.2rem;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 6px;

        transition:
            background 0.2s ease,
            transform 0.15s ease;

        &:hover {
            background: $color-hover;
            transform: scale(1.05);
        }
    }

    /* ============================= */
    /* CARRITO */
    /* ============================= */

    &__cart {
        margin-left: 0.5rem;

        &-count {
            position: absolute;
            top: 25px;
            right: 5px;

            background: $acento;
            color: white;

            font-size: 0.7rem;
            padding: 2px 6px;
            border-radius: 999px;

            min-width: fit-content;
            text-align: center;
        }
    }

    /* ============================= */
    /* IDIOMAS */
    /* ============================= */

    &__lang {
        position: relative;

        &-btn {
            background: none;
            border: none;
            color: $color-text;
            padding: 0.4rem;
            cursor: pointer;
            text-align: left;
            border-radius: 3px;

            &:hover {
                background: $color-hover;
            }
        }

        .btn{
            background: none;
            border: none;
            border-bottom: solid 1px #303033;
            color: $color-text;
            padding: 0.4rem;
            cursor: pointer;
            text-align: left;

            &:hover {
                background: $color-hover;
            }
        }

        &-dropdown {
            position: absolute;
            top: 120%;
            width: 50px;
            right: 0;
            background: var(--grisOscuro);
            border-radius: 6px;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
    }
}