<header class="header">
    <div class="header__left">
        <button (click)="menuService.toggle()" class="header__hamburger" aria-label="Abrir menú" title="Abrir menu">
            <span></span> <span></span> <span></span>
        </button>
    </div>
    

    <div class="header__center">
        <span class="header__logo">
            <app-logo/>
        </span>
    </div>
    
    <div class="header__right">
        <button class="header__icon-btn header__cart" aria-label="Ver pedido">
            🛒
            <span class="header__cart-count">2</span>
        </button>
        <!-- Selector idioma -->
        <div class="header__lang">
            <button (click)="LangToggle()" class="header__lang-btn">
                🌍 <span>{{ currentLang() }}</span> ▼
            </button>

            @if (showLangOptions()) {
            <div class="header__lang-dropdown">
                <button (click)="setLang('ES')" class="btn">ES</button>
                <button (click)="setLang('EN')" class="btn">EN</button>
                <button (click)="setLang('JP')" class="btn">JP</button>
            </div>
            }
        </div>
    </div>
</header>

<app-sidenavbar></app-sidenavbar>