/* You can add global styles to this file, and also import other style files */
@import url(./../../../shared/tokens.css);

*{
    margin: 0;
    padding: 0;
}

$negro: var(--negro);
$grisOscuro: var(--grisOscuro);
$acento: var(--acento);
$neutro: var(--neutro);
$grisClaro: var(--grisClaro);
$blanco: var(--blanco);

$bordRad: var(--borderRadius);
$borderPx: var(--borderPx);
